[submodule "firmware/controller/libs/cmsis-device-f1"]
	path = firmware/controller/libs/cmsis-device-f1
	url = https://github.com/STMicroelectronics/cmsis-device-f1.git
[submodule "firmware/controller/libs/cmsis-core"]
	path = firmware/controller/libs/cmsis-core
	url = https://github.com/STMicroelectronics/cmsis-core
[submodule "firmware/controller/libs/stm32f1xx-hal-driver"]
	path = firmware/controller/libs/stm32f1xx-hal-driver
	url = https://github.com/STMicroelectronics/stm32f1xx-hal-driver.git
